.login{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--primary-bg-color)
}

.login .login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container .title{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.login-container .title .icon{
  font-size: 3rem;
}

@media only screen and (max-width: 600px){
  .login-container .title .icon{
    font-size: 2rem;
  }

  .login-container .title h1{
    font-size: 1.6rem;
  }
}