.board{
  padding:0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-container{
  width:100rem;
}

.board-container h1{
  margin-top:2rem
}

.board-container hr{
  margin: 0.5rem auto;
  border: 1.5px solid rgba(128, 128, 128, 0.301);
}

.group-section{
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

@media only screen and (max-width: 600px){
  .board-container h1{
    font-size: 1.2rem;
    margin: 1rem auto;
  }
}

